[{:element/symbol "H",
  :element/name "Hydrogen",
  :element/weight "1.00794"}
 {:element/symbol "He",
  :element/name "Helium",
  :element/weight "4.002602"}
 {:element/symbol "Li",
  :element/name "Lithium",
  :element/weight "6.941"}
 {:element/symbol "Be",
  :element/name "Beryllium",
  :element/weight "9.012182"}
 {:element/symbol "B", :element/name "Boron", :element/weight "10.811"}
 {:element/symbol "C",
  :element/name "Carbon",
  :element/weight "12.0107"}
 {:element/symbol "N",
  :element/name "Nitrogen",
  :element/weight "14.0067"}
 {:element/symbol "O",
  :element/name "Oxygen",
  :element/weight "15.9994"}
 {:element/symbol "F",
  :element/name "Fluorine",
  :element/weight "18.9984032"}
 {:element/symbol "Ne",
  :element/name "Neon",
  :element/weight "20.1797"}
 {:element/symbol "Na",
  :element/name "Sodium",
  :element/weight "22.98976..."}
 {:element/symbol "Mg",
  :element/name "Magnesium",
  :element/weight "24.305"}
 {:element/symbol "Al",
  :element/name "Aluminium",
  :element/weight "26.9815386"}
 {:element/symbol "Si",
  :element/name "Silicon",
  :element/weight "28.0855"}
 {:element/symbol "P",
  :element/name "Phosphorus",
  :element/weight "30.973762"}
 {:element/symbol "S",
  :element/name "Sulfur",
  :element/weight "32.065"}
 {:element/symbol "Cl",
  :element/name "Chlorine",
  :element/weight "35.453"}
 {:element/symbol "Ar",
  :element/name "Argon",
  :element/weight "39.948"}
 {:element/symbol "K",
  :element/name "Potassium",
  :element/weight "39.948"}
 {:element/symbol "Ca",
  :element/name "Calcium",
  :element/weight "40.078"}
 {:element/symbol "Sc",
  :element/name "Scandium",
  :element/weight "44.955912"}
 {:element/symbol "Ti",
  :element/name "Titanium",
  :element/weight "47.867"}
 {:element/symbol "V",
  :element/name "Vanadium",
  :element/weight "50.9415"}
 {:element/symbol "Cr",
  :element/name "Chromium",
  :element/weight "51.9961"}
 {:element/symbol "Mn",
  :element/name "Manganese",
  :element/weight "54.938045"}
 {:element/symbol "Fe", :element/name "Iron", :element/weight "55.845"}
 {:element/symbol "Co",
  :element/name "Cobalt",
  :element/weight "58.933195"}
 {:element/symbol "Ni",
  :element/name "Nickel",
  :element/weight "58.6934"}
 {:element/symbol "Cu",
  :element/name "Copper",
  :element/weight "63.546"}
 {:element/symbol "Zn", :element/name "Zinc", :element/weight "65.38"}
 {:element/symbol "Ga",
  :element/name "Gallium",
  :element/weight "69.723"}
 {:element/symbol "Ge",
  :element/name "Germanium",
  :element/weight "72.63"}
 {:element/symbol "As",
  :element/name "Arsenic",
  :element/weight "74.9216"}
 {:element/symbol "Se",
  :element/name "Selenium",
  :element/weight "78.96"}
 {:element/symbol "Br",
  :element/name "Bromine",
  :element/weight "79.904"}
 {:element/symbol "Kr",
  :element/name "Krypton",
  :element/weight "83.798"}
 {:element/symbol "Rb",
  :element/name "Rubidium",
  :element/weight "85.4678"}
 {:element/symbol "Sr",
  :element/name "Strontium",
  :element/weight "87.62"}
 {:element/symbol "Y",
  :element/name "Yttrium",
  :element/weight "88.90585"}
 {:element/symbol "Zr",
  :element/name "Zirconium",
  :element/weight "91.224"}
 {:element/symbol "Nb",
  :element/name "Niobium",
  :element/weight "92.90628"}
 {:element/symbol "Mo",
  :element/name "Molybdenum",
  :element/weight "95.96"}
 {:element/symbol "Tc",
  :element/name "Technetium",
  :element/weight "(98)"}
 {:element/symbol "Ru",
  :element/name "Ruthenium",
  :element/weight "101.07"}
 {:element/symbol "Rh",
  :element/name "Rhodium",
  :element/weight "102.9055"}
 {:element/symbol "Pd",
  :element/name "Palladium",
  :element/weight "106.42"}
 {:element/symbol "Ag",
  :element/name "Silver",
  :element/weight "107.8682"}
 {:element/symbol "Cd",
  :element/name "Cadmium",
  :element/weight "112.411"}
 {:element/symbol "In",
  :element/name "Indium",
  :element/weight "114.818"}
 {:element/symbol "Sn", :element/name "Tin", :element/weight "118.71"}
 {:element/symbol "Sb",
  :element/name "Antimony",
  :element/weight "121.76"}
 {:element/symbol "Te",
  :element/name "Tellurium",
  :element/weight "127.6"}
 {:element/symbol "I",
  :element/name "Iodine",
  :element/weight "126.90447"}
 {:element/symbol "Xe",
  :element/name "Xenon",
  :element/weight "131.293"}
 {:element/symbol "Cs",
  :element/name "Caesium",
  :element/weight "132.9054"}
 {:element/symbol "Ba",
  :element/name "Barium",
  :element/weight "132.9054"}
 {:element/symbol "La",
  :element/name "Lanthanum",
  :element/weight "138.90547"}
 {:element/symbol "Ce",
  :element/name "Cerium",
  :element/weight "140.116"}
 {:element/symbol "Pr",
  :element/name "Praseodymium",
  :element/weight "140.90765"}
 {:element/symbol "Nd",
  :element/name "Neodymium",
  :element/weight "144.242"}
 {:element/symbol "Pm",
  :element/name "Promethium",
  :element/weight "(145)"}
 {:element/symbol "Sm",
  :element/name "Samarium",
  :element/weight "150.36"}
 {:element/symbol "Eu",
  :element/name "Europium",
  :element/weight "151.964"}
 {:element/symbol "Gd",
  :element/name "Gadolinium",
  :element/weight "157.25"}
 {:element/symbol "Tb",
  :element/name "Terbium",
  :element/weight "158.92535"}
 {:element/symbol "Dy",
  :element/name "Dysprosium",
  :element/weight "162.5"}
 {:element/symbol "Ho",
  :element/name "Holmium",
  :element/weight "164.93032"}
 {:element/symbol "Er",
  :element/name "Erbium",
  :element/weight "167.259"}
 {:element/symbol "Tm",
  :element/name "Thulium",
  :element/weight "168.93421"}
 {:element/symbol "Yb",
  :element/name "Ytterbium",
  :element/weight "173.054"}
 {:element/symbol "Lu",
  :element/name "Lutetium",
  :element/weight "174.9668"}
 {:element/symbol "Hf",
  :element/name "Hafnium",
  :element/weight "178.49"}
 {:element/symbol "Ta",
  :element/name "Tantalum",
  :element/weight "180.94788"}
 {:element/symbol "W",
  :element/name "Tungsten",
  :element/weight "183.84"}
 {:element/symbol "Re",
  :element/name "Rhenium",
  :element/weight "186.207"}
 {:element/symbol "Os",
  :element/name "Osmium",
  :element/weight "190.23"}
 {:element/symbol "Ir",
  :element/name "Iridium",
  :element/weight "192.217"}
 {:element/symbol "Pt",
  :element/name "Platinum",
  :element/weight "195.084"}
 {:element/symbol "Au",
  :element/name "Gold",
  :element/weight "196.966569"}
 {:element/symbol "Hg",
  :element/name "Mercury",
  :element/weight "200.59"}
 {:element/symbol "Tl",
  :element/name "Thallium",
  :element/weight "204.3833"}
 {:element/symbol "Pb", :element/name "Lead", :element/weight "207.2"}
 {:element/symbol "Bi",
  :element/name "Bismuth",
  :element/weight "208.9804"}
 {:element/symbol "Po",
  :element/name "Polonium",
  :element/weight "(209)"}
 {:element/symbol "At",
  :element/name "Astatine",
  :element/weight "(210)"}
 {:element/symbol "Rn", :element/name "Radon", :element/weight "(222)"}
 {:element/symbol "Fr",
  :element/name "Francium",
  :element/weight "(223)"}
 {:element/symbol "Ra",
  :element/name "Radium",
  :element/weight "(226)"}
 {:element/symbol "Ac",
  :element/name "Actinium",
  :element/weight "(227)"}
 {:element/symbol "Th",
  :element/name "Thorium",
  :element/weight "232.03806"}
 {:element/symbol "Pa",
  :element/name "Protactinium",
  :element/weight "231.0588"}
 {:element/symbol "U",
  :element/name "Uranium",
  :element/weight "238.02891"}
 {:element/symbol "Np",
  :element/name "Neptunium",
  :element/weight "(237)"}
 {:element/symbol "Pu",
  :element/name "Plutonium",
  :element/weight "(244)"}
 {:element/symbol "Am",
  :element/name "Americium",
  :element/weight "(243)"}
 {:element/symbol "Cm",
  :element/name "Curium",
  :element/weight "(247)"}
 {:element/symbol "Bk",
  :element/name "Berkelium",
  :element/weight "(247)"}
 {:element/symbol "Cf",
  :element/name "Californium",
  :element/weight "(251)"}
 {:element/symbol "Es",
  :element/name "Einstenium",
  :element/weight "(252)"}
 {:element/symbol "Fm",
  :element/name "Fermium",
  :element/weight "(257)"}
 {:element/symbol "Md",
  :element/name "Mendelevium",
  :element/weight "(258)"}
 {:element/symbol "No",
  :element/name "Nobelium",
  :element/weight "(259)"}
 {:element/symbol "Lr",
  :element/name "Lawrencium",
  :element/weight "(262)"}
 {:element/symbol "Rf",
  :element/name "Rutherfordium",
  :element/weight "(267)"}
 {:element/symbol "Db",
  :element/name "Dubnium",
  :element/weight "(268)"}
 {:element/symbol "Sg",
  :element/name "Seaborgium",
  :element/weight "(271)"}
 {:element/symbol "Bh",
  :element/name "Bohrium",
  :element/weight "(272)"}
 {:element/symbol "Hs",
  :element/name "Hassium",
  :element/weight "(270)"}
 {:element/symbol "Mt",
  :element/name "Meitnerium",
  :element/weight "(276)"}
 {:element/symbol "Ds",
  :element/name "Darmstadium",
  :element/weight "(281)"}
 {:element/symbol "Rg",
  :element/name "Roentgenium",
  :element/weight "(280)"}
 {:element/symbol "Cn",
  :element/name "Copernicium",
  :element/weight "(285)"}
 {:element/symbol "Uut",
  :element/name "Unutrium",
  :element/weight "(284)"}
 {:element/symbol "Fl",
  :element/name "Flerovium",
  :element/weight "(289)"}
 {:element/symbol "Uup",
  :element/name "Ununpentium",
  :element/weight "(288)"}
 {:element/symbol "Lv",
  :element/name "Livermorium",
  :element/weight "(293)"}
 {:element/symbol "Uus",
  :element/name "Ununseptium",
  :element/weight "(294)"}
 {:element/symbol "Uuo",
  :element/name "Ununoctium",
  :element/weight "(294)"}]